<a href="/dashboard" class="go-back"> &larr; Back to dashboard</a>
<br>
<br>

{{> post-info post}}

{{#if loggedIn}}
<form class="comment-form">
    <div class="comment-content">
        <textarea class="entry-field-post-content" name="comment-body"></textarea>
    </div>

    <div class="add-a-comment-section">
        <button type="submit" class="add-a-comment-btn">Add a comment</button>
    </div>
</form>
{{/if}}

{{> comments post.comments}}

{{#if loggedIn}}
<script src="/js/comment.js"></script>
{{/if}}